.container {
  position: absolute;
  top: 30px;
  right: 30px;
  left: 30px;
  width: auto;
}

body { 
  background: url(/images/background.png);
  background-size: cover;
  background-attachment: fixed;
}

div.main {
  position: absolute;
  top: 0px;
  right: 300px;
  left: 10%;
  min-width: 300px;
  padding: 1em;
  padding-top: 20px;
}

div.sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
  padding: 0px;
  background: transparent;
}

div.sidebar_top {
  padding: 15px;
  border: 5px solid #aaa;
  vertical-align: top;
  background: #000;
  min-height: 400px;
  font-family: monospace;
  font-size: 12px;
  color: #0e0;
}

p.sidebar_title {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 120%;
}

p.information {
  margin: 0 0 3px;
}

div.sidebar_bottom {
  padding: 0px;
  padding-top: 20px;
}

label {
  font-weight:bold;
  color:#0e0;
  font-family: monospace;
  font-size: 14px;
}

input[type=text] {
  background-color:#000;
  border:1px solid #aaa;
  color:#0e0;
  font-family: monospace;
}

td.nothing {
  background-color: transparent;
  text-align: center;
  height: 40px;
  font-size: 12px;
  color: #0e0;
}

td.rover {
  font-size: 14px;
  color: #ee0;
}

img.plato {
  position: relative;
  width: 20%;
  padding: 20%;
}
