<%= render 'plato' %>
<div class="sidebar">
  <div class="sidebar_top">
    <%= render 'sidebar_for_started' %>
  </div>
  <div class="sidebar_bottom">
    <% if @rover.step < @rover.instruction.length %>
      <%= render 'go_button' %>
    <% else %>
      <%= render 'finish_button' %>
    <% end %>
  </div>
</div>

