<td class="sidebar">
  <table>
    <tr>
      <td class="sidebar_top">
        <%= render 'sidebar_for_no_started' %>
      </td>
    </tr>
    <tr>
      <td class="sidebar_bottom">
        <%= render 'start_button' %>
      </td>
    </tr>
  </table>
</td>

